.feedContainer {
  background-color: rgb(240, 235, 235);
  min-height: 100vh;
  --border-color: rgb(224, 223, 223);
  --linkedin-blue: #2867b2;
}
.feedNavContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 4px;
  z-index: 1000;
  background-color: white;
  position: sticky;
  top: 0;
}
.feedNav_Search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedNav_searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  padding: 3px;
  padding-left: 10px;
  margin-left: 10px;
  height: 35px;
}
.feedNav_searchContainer input {
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
}
.feedNav_searchContainer input:focus {
  outline: 0;
}
.feedNavIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feedNavIconContainer_text {
  font-size: 0.8rem;
  color: gray;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedNav_IconContainer {
  display: flex;
  justify-content: space-between;
  flex: 0.6;
}
.FeedNav_Avatar {
  width: 30px !important;
  height: 30px !important;
}

.feedBody {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.feedLeftTop,
.feedLeftBottom {
  width: 200px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(224, 223, 223);
}
.feedLeftTop_image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.feedLeftTop_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feedLeftTop_header_image {
  margin-top: -2rem;
  width: 60px !important;
  height: 60px !important;
}
.feedLeftTop_header_name {
  padding-top: 1rem;
  font-weight: 500;
}
.feedLeftTop_header_bio {
  color: gray;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  text-align: center;
}
.feedLeftTop_body {
  font-size: 0.8rem;
  color: gray;
  margin-left: 20px;
  padding: 5px;
}
.feedLeftTop_body p {
  padding-bottom: 5px;
}
.feedLeftTop_hr {
  background-color: rgb(224, 224, 224);
  height: 1px;
  border: none;
}
.feedLeftTop_footer {
  margin-top: 1rem;
  display: flex;
  margin-left: 20px;
  padding: 5px;
}
.feedLeftTop_footer p {
  font-weight: 500;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  padding-bottom: 5px;
}
.feedLeftBottom {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: gray;
}
.feedLeftBottom h3 {
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
}
.feedBottomHash {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.feedBottomHash_hash {
  font-weight: 900;
  font-size: 1rem;
}
.feedBottomHash_text {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.feedMiddleContainer {
  margin-left: 1rem;
}
.feedMiddleContainer_top {
  width: 500px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
.feedMiddleContainer_top_upper {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.feedMiddleContainer_top_upper_text {
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 10px;
  width: 430px;
  margin-left: 10px;
  transition: 0.3s;
}
.feedMiddleContainer_top_upper_text:focus {
  outline: none;
}
.feedMiddleContainer_top_upper_text:hover {
  background-color: rgb(233, 231, 231);
}
.feedNavTopUpperIcon {
  display: flex;
  align-items: center;
  padding: 5px;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}
.feedMiddleContainer_top_lower {
  display: flex;
  justify-content: space-evenly;
  padding: 0.6rem;
  margin-top: 5px;
}
.feedNavTopUpperIcon_text {
  margin-left: 5px;
  color: gray;
}
.feedNavTopUpperIcon:hover {
  background-color: rgb(216, 213, 213);
}
.feedPostsContainer {
  width: 500px;
  background-color: white;
  border-radius: 5px;
  margin-top: 1.5rem;
}
.feedPostsContainer_header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.feedPostsContainer_header_left {
  display: flex;
}
.feedPostsContainer_header_left_desc {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.feedPostsContainer_header_left_name {
  font-size: 0.9rem;
  font-weight: 500;
}
.feedPostsContainer_header_left_bio {
  font-size: 0.7rem;
  color: gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 1rem;
  width: 400px;
}
.FeedPostReaction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 5px;
  transition: 0.3s;
  border-radius: 5px;
}
.FeedPostReaction_text {
  margin-left: 5px;
  color: rgb(97, 96, 96);
}
.FeedPostReaction:hover {
  background-color: rgb(223, 219, 219);
}
.feedPostsContainer_reaction {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}
.feedPostsBottom_text {
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 10px;
  width: 430px;
  margin-left: 10px;
}
.feedPostsBottom_text:focus {
  outline: 0;
}
.feedPostsCommentContainer {
  display: flex;
  margin-top: 1rem;
  padding: 5px;
}
.feedPostsComment {
  display: flex;
  margin-left: 10px;
  background-color: rgb(233, 232, 232);
  padding: 5px;
  border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.feedPostsComment_right {
  display: flex;
  align-items: center;
}
.feedPostsComment_left_title {
  font-size: 0.8rem;
}
.feedPostsComment_left_title:hover {
  text-decoration: underline;
  color: var(--linkedin-blue);
}
.feedPostsComment_left_bio {
  font-size: 0.6rem;
  color: gray;
  height: 1rem;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.feedPostsComment_left_comment {
  font-size: 0.9rem;
}
.feedPostsComment_right_moment {
  font-size: 0.6rem;
}
.feedRightContainer {
  margin-left: 1rem;
}
.feedRight_top {
  width: 300px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 300px;
}
.feedRight_top_header {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px;
}
.feedRightUserContainer {
  display: flex;
}
.feedRightUser_body {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-bottom: 10px;
  padding: 5px;
}
.feedRightUser_name {
  font-size: 0.8rem;
}
.FeedRightUser_bio {
  font-size: 0.7rem;
  color: gray;
  white-space: nowrap;
  height: 1rem;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.FeedRightUser_button {
  background: transparent;
  color: var(--linkedin-blue);
  border-radius: 25px;
  padding: 5px;
  font-size: 0.8rem;
  border: 1px solid var(--linkedin-blue);
  font-weight: 600;
  margin-top: 5px;
  outline: 0;
  transition: 0.1s;
}
.FeedRightUser_button:focus {
  outline: 0;
}
.FeedRightUser_button:hover {
  background: rgb(204, 218, 247);
  border: 2px solid var(--linkedin-blue);
}
.feedRight_top_middle {
  width: 300px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px;
}
.feedRight_top_middle h2 {
  font-size: 1rem;
  margin-bottom: 20px;
}
.feedRight_top_middle h3 {
  font-size: 0.8rem;
}
.feedRight_top_middle p {
  font-size: 0.7rem;
  color: gray;
  margin-bottom: 10px;
}
.feedRight_bottom {
  width: 300px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  height: 250px;
  padding: 10px;
}
.viewPostModal {
  border: none !important;
  border-radius: 20px !important;
}
.viewPostModal_container {
  position: absolute;
  background-color: white;
  outline: none;
  display: flex;
  width: 80%;
  height: 500px;
}
.viewPostModal_left {
  flex: 1;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.viewPostModal_right {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 400px;
  padding: 20px;
}
.viewPostModal_right_top_container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}
.viewPostModal_right_top {
  display: flex;
}
.viewPostModal_right_top_name {
  font-size: 0.8rem;
}
.viewPostModal_right_top_bio {
  font-size: 0.6rem;
  color: gray;
  height: 1rem;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.viewPostModal_right_top_date {
  margin-top: -10px;
}
.viewPostModal_right_top_right {
  margin-left: 0.5rem;
}
.viewPostModal_right_caption {
  color: gray;
  padding: 5px;
  font-size: 0.9rem;
}
.viewPostModal_right_reaction {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.viewPostModal_right_hr {
  background-color: rgb(224, 224, 224);
  height: 1px;
  border: none;
}
.viewPostModal_container_close_icon {
  cursor: pointer;
}
.createPostModal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: white;
  outline: none;
  width: 500px;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}
.createPostModal_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.createPostModal_top_left {
  font-size: 1.5rem;
  color: rgb(119, 104, 104);
}
.createPostModal_hr {
  border: none;
  height: 1px;
  background-color: rgb(218, 216, 216);
}
.createPostModal_middle {
  display: flex;
  flex-direction: column;
}
.createPostModal_user {
  display: flex;
  margin-top: 1rem;
}
.createPostModal_user_name {
  margin-left: 5px;
}
.createPostModal_user_name h3 {
  font-size: 1rem;
}
.createPostModal_user_button {
  color: gray;
  background: transparent;
  border: 1px solid gray;
  border-radius: 20px;
  outline: none;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.createPostModal_user_button p {
  margin-left: 5px;
}
.createPostModal_user_button:focus {
  outline: none;
}
.createPostModal_textarea {
  border: none;
  background: transparent;
  font-size: 1rem;
  margin-top: 10px;
  /* height: 4rem; */
  outline: 0;
}
.createPostModal_textarea:focus {
  outline: none;
}
.createPostModal_bottom {
  margin-top: 2rem;
  padding-bottom: 10px;
}
.createPostModal_bottom input::-webkit-file-upload-button {
  display: none;
}
.createPostModal_bottom input::before {
  content: "Upload an Image";
  display: inline-block;
  color: white;
  background-color: #2867b2;
  border: none;
  margin-right: 5px;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.createPostModal_bottom_button {
  background-color: #2867b2;
  border: none;
  outline: 0;
  padding: 10px 15px 10px 15px;
  /*top,right,bottom,left*/
  color: white;
  border-radius: 25px;
  cursor: pointer;
}
